.switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 1.5rem;
  position: relative;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 15px;
  box-sizing: border-box;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Style the form */
form {
  width: 80%;
  margin: auto;
  text-align: center;
}

/* Style the input fields */
input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a red background color to the cancel button */
.cancelbtn {
  background-color: red;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* Add a background color and some padding around the form */
.form-container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* Style the submit button on hover */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
